<a href="https://colab.research.google.com/github/kaz-taka-1/2-02_tag/blob/main/1%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os 
project = '100knock-process-visualization'
chapter = 2
os.chdir(f'/content/drive/MyDrive/{project}/chapter-{chapter}/')

# １章 システムデータの加工・可視化を行う２０本ノック

## ノック１：法人情報データを読み込んでみよう

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None)

FileNotFoundError: ignored

In [ ]:
data.head()

In [ ]:
len(data.columns)

In [ ]:
data

In [ ]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None,dtype=object)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
data=pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None,dtype=object)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
mst = pd.read_csv('data/mst_column_name.txt',encoding='shift-jis',sep='\t')

In [ ]:
mst.head()

In [ ]:
len(mst) == len(data.columns)

In [ ]:
columns=mst.column_name_en.values

In [ ]:
columns

In [ ]:
data.columns = columns

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
data.isna()

In [ ]:
data.isna().sum()

In [ ]:
import os
os.listdir('data')

In [ ]:
from glob import glob
diff_files = glob('data/diff*.csv')
diff_files

In [ ]:
diff_files.sort()
diff = pd.read_csv(diff_files[0],encoding='shift-jis',header=None,dtype=object)
print(len(diff))
diff.head(3)

In [ ]:
diff.columns = columns
diff=diff.loc[diff['prefectureName']=='静岡県']
print(len(diff))
diff.head(3)

In [ ]:
data_test = data
print(len(data_test))
print(len(data_test)==len(data))
print(len(diff))
data_test=data_test.append(diff)
print(len(data_test))
data_test.tail(3)

In [ ]:
for f in diff_files:
  diff = pd.read_csv(f,encoding='shift-jis',header=None,dtype=object)
  diff.columns=columns
  diff = diff.loc[diff['prefectureName']=='静岡県']
  data = data.append(diff)
data

In [ ]:
data.describe()

In [ ]:
print(data[data["corporateNumber"].duplicated()])

In [ ]:
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)

In [ ]:
data.describe()

In [ ]:
data.isna().sum()

In [ ]:
os.listdir('data')

In [ ]:
mst_process_kbn=pd.read_csv('data/mst_process_kbn.csv',dtype=object)
mst_process_kbn

In [ ]:
data=data.merge(mst_process_kbn,on='process', how='left')

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
mst_correct_kbn=pd.read_csv('data/mst_correct_kbn.csv',encoding='shift-jis', dtype=object)
mst_correct_kbn

In [ ]:
data=data.merge(mst_correct_kbn,on='correct', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_corp_kind=pd.read_csv('data/mst_corp_kind.csv',dtype=object)
mst_corp_kind

In [ ]:
data=data.merge(mst_corp_kind,on='kind',how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_close_cause=pd.read_csv('data/mst_closeCause.csv',dtype=object)
mst_close_cause

In [ ]:
data=data.merge(mst_close_cause, on='closeCause', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_latest=pd.read_csv('data/mst_latest.csv',dtype=object)
mst_latest

In [ ]:
data=data.merge(mst_latest, on='latest', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_hihyoji=pd.read_csv('data/mst_hihyoji.csv',dtype=object)
mst_hihyoji

In [ ]:
data=data.merge(mst_hihyoji,on='hihyoji',how='left')
print(len(data.columns))
data.head(3)

In [ ]:
data[['prefectureName','cityName','streetNumber']].isna().sum()

In [ ]:
data['address']=data['prefectureName']+data['cityName']+data['streetNumber']
print(len(data.columns))
data.head(3)

In [ ]:
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data['address'].loc[data['streetNumber'].isna()]=data['prefectureName']+data['cityName']

In [ ]:
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data.head(3)

In [ ]:
data['postCode_head']=data['postCode'].str[:3]
print(len(data.columns))
data.head(3)

In [ ]:
data['postCode_tail']=data['postCode'].str[-4:]
print(len(data.columns))
data.head(3)

In [ ]:
tmp=pd.to_datetime(data['closeDate'])
tmp.dtypes

In [ ]:
dt_columns=['updateDate','changeDate','closeDate','assignmentDate']
for col in dt_columns:
  data[col]=pd.to_datetime(data[col])

In [ ]:
data.dtypes

In [ ]:
data['corporate_life']=data['closeDate']-data['assignmentDate']
print(len(data.columns))
data.head(3)

In [ ]:
tep=data.loc[data['closeDate'].notna()]
print(len(tmp))
tep.head(3)

In [ ]:
len(data.loc[data['closeCause'].notna()])==len(data.loc[data['closeDate'].notna()])

In [ ]:
data['update_YM']=data['updateDate'].dt.to_period('M')
print(len(data.columns))
data.head()

In [ ]:
dt_prefixes=['assignment','change','update','close']
for pre in dt_prefixes:
  data[f'{pre}_YM']=data[f'{pre}Date'].dt.to_period('M')

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
data['update_year']=pd.DatetimeIndex(data['updateDate']).year
data['update_month']=pd.DatetimeIndex(data['updateDate']).month
data['update_fiscal_year']=pd.DatetimeIndex(data['updateDate']).year
data.loc[data['update_month']<4,'update_fiscal_year'] -=1

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
for i in range(12):
  display(data[['update_YM','update_fiscal_year']].loc[data['update_month']==i+1][:1])

In [ ]:
output_dir='data/output'
os.makedirs(output_dir,exist_ok=True)

In [ ]:
output_file='processed_shizuoka.csv'
data.to_csv(os.path.join(output_dir,output_file),index=False)

In [ ]:
output_file = output_file.replace('.csv','.xlsx')
data.to_excel(os.path.join(output_dir,output_file),index=False)

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data=data[['cityName','corporateNumber','name','corp_kind_name','process','process_kbn_name','assignmentDate','updateDate','update_fiscal_year','update_YM']]

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data = data.drop(columns='process')
print(data.columns)
data.head(3)

In [ ]:
tmp = data.groupby('corp_kind_name').size()
tmp

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
tmp

In [ ]:
tmp=data.groupby('update_fiscal_year').size()
tmp

In [ ]:
tmp=data.groupby(['update_fiscal_year','corp_kind_name']).size()
tmp

In [ ]:
pt_data=pd.pivot_table(data,index='corp_kind_name',columns='update_fiscal_year',aggfunc='size')
pt_data

In [ ]:
%%bash
pip install -q japanize-matplotlib

In [ ]:
tmp = data.groupby('cityName').size()
tmp.head()

In [ ]:
import matplotlib.pyplot as plt
import japanize_matplotlib

x = tmp.index
y = tmp.values
plt.bar(x,y)

In [ ]:
plt.figure(figsize = (20,10))
plt.bar(x,y)

In [ ]:
tmp.sort_values(inplace=True,ascending=True)
tmp

In [ ]:
plt.figure(figsize=(10,15))
x = tmp.index
y = tmp.values
plt.barh(x,y)

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
plt.figure(figsize=(20,10))
x=tmp[:10].index
y=tmp[:10].values
plt.bar(x,y)

In [ ]:
plt.figure(figsize=(20,10))
plt.bar(x,y)
plt.title('市区町村別の法人数',fontsize=20)
plt.xlabel('市区町村名',fontsize=15)
plt.ylabel('法人数')

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
tmp = tmp[:10]
x=tmp.index
y=tmp.values
fig,ax=plt.subplots(figsize=(20,10))
bar_list=ax.bar(x,y,color='lightgray')
bar_list[4].set_color('blue')
ax.set_title('自治体別法人数における富士市の位置付け',fontsize=20);
ax.set_ylabel('法人数',fontsize=15)
ax.text(7.5,9000,'上位10の自治体を抜粋して表示',fontsize=15)

In [ ]:
base_time=pd.Timestamp.now(tz='Asia/Tokyo')
base_time

In [ ]:
print(len(data))
data.head()

In [ ]:
data['assignmentDate']=data['assignmentDate'].dt.tz_localize('Asia/Tokyo')
data.head()

In [ ]:
delta=pd.Timedelta(393, 'days')
tmp=data.loc[(data['process_kbn_name']=='新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby('cityName').size()
tmp.sort_values(inplace=True,ascending=False)
tmp=tmp[:10]
x=tmp.index
y=tmp.values
plt.figure(figsize=(20,10))
plt.bar(x,y)

In [ ]:
base_time=pd.Timestamp('2020-04-16',tz='Asia/Tokyo')
tmp=data.loc[(data['process_kbn_name']=='新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby('cityName').size()
tmp.sort_values(inplace=True,ascending=False)
tmp=tmp[:10]
x=tmp.index
y=tmp.values
plt.figure(figsize=(20,10))
plt.bar(x,y)

In [ ]:
tmp=data.dropna(subset=['cityName'])
tmp=tmp.loc[tmp['cityName'].str.match('^.*区$')]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.loc[(tmp['update_fiscal_year'] >=2016)&(tmp['update_fiscal_year']<2021)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby(['cityName','update_fiscal_year']).size()
tmp.name='count'
tmp=tmp.reset_index()
print(len(tmp))
tmp.head(6)

In [ ]:
import seaborn as sns
from matplotlib.ticker import MaxNLocator
plt.figure(figsize=(20,10))
plt.gca().xaxis.set_major_locator(MaxNLocator(integer=True))
img=sns.lineplot(x=tmp['update_fiscal_year'],y=tmp['count'],hue=tmp['cityName'])

In [ ]:
data_file='knock20_graphdata.csv'
data.to_csv(os.path.join(output_dir,data_file),index=False)
graph_file='knock20_graph.png'
fig=img.get_figure()
fig.savefig(os.path.join(output_dir,graph_file))

## ノック２：読み込んだデータを確認しよう

In [3]:
import pandas as pd
data = pd.read_excel('data/1-2-2020.xlsx')
data.head()

,１－（２）．都道府県別発電所数、出力数 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,２０２０年 ８月３日公表時点,Unnamed: 21,（単位：kW）
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,NaN,NaN,NaN,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計
3,北海道,98,2032077.6,32,6176880,1,2070000,56,428134,127,...,3,96650,3,49920,184,1128885.1,0,0,315,11407842.7
4,青森県,19,128750,10,655750,1,1100000,24,593870,35,...,4,134850,1,18800,59,993867,0,0,89,2878367

In [4]:
data.tail()

,１－（２）．都道府県別発電所数、出力数 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,２０２０年 ８月３日公表時点,Unnamed: 21,（単位：kW）
49,沖縄県,0,0,26,2470080,0,0,13,18130,1,...,0,0,0,0,14,30130,0,0,40,2500210
50,合 計,1748,49638035.6,461,169249967,15,33083000,315,3647239.2,2562,...,78,2483852,61,971126,2893,14865055.2,2,42910,5119,266878967.8
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,備考,１ バイオマスまたは廃棄物の欄には、専ら又は主として使用する燃料がバイオマス又は廃棄物の場合...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,２ 一つの発電所内に複数の発電機が存在し、電源種別が異なる場合には、発電所数は最大出力が最大...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data=pd.read_excel('data/1-2-2020.xlsx',skiprows=4, header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,3.0,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,4.0,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,2.0,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,0.0,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,1.0,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2

In [6]:
data.drop(data.tail(4).index, inplace=True)
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
42,熊本県,49,803395.0,5.0,1562280.0,0.0,0.0,2.0,26000.0,81.0,...,1.0,76780.0,2.0,10500.0,83.0,258540.0,0.0,0.0,137.0,2624215.0
43,大分県,38,300520.0,9.0,4111600.0,0.0,0.0,1.0,11000.0,53.0,...,4.0,118200.0,0.0,0.0,60.0,558694.6,0.0,0.0,107.0,4970814.6
44,宮崎県,48,2158730.0,4.0,204940.0,0.0,0.0,1.0,16000.0,35.0,...,3.0,76700.0,0.0,0.0,36.0,264774.5,0.0,0.0,88.0,2628444.5
45,鹿児島県,35,195808.0,30.0,1307600.0,1.0,1780000.0,18.0,225470.0,143.0,...,2.0,72700.0,0.0,0.0,164.0,877953.0,0.0,0.0,230.0,4161361.0
46,沖縄県,0,0.0,26.0,2470080.0,0.0,0.0,13.0,18130.0,1.0,...,0.0,0.0,0.0,0.0,14.0,30130.0,0.0,0.0,40.0,2500210.0

In [7]:
col_data = pd.read_excel('data/1-2-2020.xlsx',skiprows=1,header=None)
col_data=col_data.head(3)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,NaN,NaN,NaN,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [8]:
col_data.iloc[1,1:].fillna(col_data.iloc[0,1:],inplace=True)
col_data.iloc[1,1:]=col_data.iloc[1,1:].str.replace('発電所','')
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,水力,NaN,火力,NaN,原子力,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,その他,NaN,合計,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [9]:
for i in col_data.columns:
  if i < col_data.columns.max():
    col_data[i + 1].fillna(col_data[i], inplace=True)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,水力発電所,火力発電所,火力発電所,原子力発電所,原子力発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,...,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,その他,その他,合計,合計
1,NaN,水力,水力,火力,火力,原子力,原子力,風力,風力,太陽光,...,〔バイオマス〕,〔バイオマス〕,〔廃棄物〕,〔廃棄物〕,計,計,その他,その他,合計,合計
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [10]:
col_data.replace('〔バイオマス〕','バイオマス',inplace=True)
col_data.replace('〔廃棄物〕','廃棄物',inplace=True)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,水力発電所,火力発電所,火力発電所,原子力発電所,原子力発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,...,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,その他,その他,合計,合計
1,NaN,水力,水力,火力,火力,原子力,原子力,風力,風力,太陽光,...,バイオマス,バイオマス,廃棄物,廃棄物,計,計,その他,その他,合計,合計
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [11]:
tg_col='_'.join(list(col_data[0].dropna()))
print(tg_col)
tg_col = '_'.join(list(col_data[1].dropna()))
print(tg_col)

都道府県
水力発電所_水力_発電所数

In [12]:
cols=[]
for i in col_data.columns:
  tg_col = '_'.join(list(col_data[i].dropna()))
  cols.append(tg_col)
cols

['都道府県',
 '水力発電所_水力_発電所数',
 '水力発電所_水力_最大出力計',
 '火力発電所_火力_発電所数',
 '火力発電所_火力_最大出力計',
 '原子力発電所_原子力_発電所数',
 '原子力発電所_原子力_最大出力計',
 '新エネルギー等発電所_風力_発電所数',
 '新エネルギー等発電所_風力_最大出力計',
 '新エネルギー等発電所_太陽光_発電所数',
 '新エネルギー等発電所_太陽光_最大出力計',
 '新エネルギー等発電所_地熱_発電所数',
 '新エネルギー等発電所_地熱_最大出力計',
 '新エネルギー等発電所_バイオマス_発電所数',
 '新エネルギー等発電所_バイオマス_最大出力計',
 '新エネルギー等発電所_廃棄物_発電所数',
 '新エネルギー等発電所_廃棄物_最大出力計',
 '新エネルギー等発電所_計_発電所数',
 '新エネルギー等発電所_計_最大出力計',
 'その他_その他_発電所数',
 'その他_その他_最大出力計',
 '合計_合計_発電所数',
 '合計_合計_最大出力計']

In [13]:
data.columns=cols
data.head()

,都道府県,水力発電所_水力_発電所数,水力発電所_水力_最大出力計,火力発電所_火力_発電所数,火力発電所_火力_最大出力計,原子力発電所_原子力_発電所数,原子力発電所_原子力_最大出力計,新エネルギー等発電所_風力_発電所数,新エネルギー等発電所_風力_最大出力計,新エネルギー等発電所_太陽光_発電所数,...,新エネルギー等発電所_バイオマス_発電所数,新エネルギー等発電所_バイオマス_最大出力計,新エネルギー等発電所_廃棄物_発電所数,新エネルギー等発電所_廃棄物_最大出力計,新エネルギー等発電所_計_発電所数,新エネルギー等発電所_計_最大出力計,その他_その他_発電所数,その他_その他_最大出力計,合計_合計_発電所数,合計_合計_最大出力計
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,3.0,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,4.0,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,2.0,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,0.0,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,1.0,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2

In [14]:
xl=pd.ExcelFile('data/1-2-2020.xlsx')
sheets=xl.sheet_names
sheets

['2020.4',
 '2020.5',
 '2020.6',
 '2020.7',
 '2020.8',
 '2020.9',
 '2020.10',
 '2020.11',
 '2020.12',
 '2021.1']

In [15]:
data=xl.parse(sheets[0], skiprows=4, header=None)
data.drop(data.tail(4).index,inplace=True)
data.columns=cols
data.head()

,都道府県,水力発電所_水力_発電所数,水力発電所_水力_最大出力計,火力発電所_火力_発電所数,火力発電所_火力_最大出力計,原子力発電所_原子力_発電所数,原子力発電所_原子力_最大出力計,新エネルギー等発電所_風力_発電所数,新エネルギー等発電所_風力_最大出力計,新エネルギー等発電所_太陽光_発電所数,...,新エネルギー等発電所_バイオマス_発電所数,新エネルギー等発電所_バイオマス_最大出力計,新エネルギー等発電所_廃棄物_発電所数,新エネルギー等発電所_廃棄物_最大出力計,新エネルギー等発電所_計_発電所数,新エネルギー等発電所_計_最大出力計,その他_その他_発電所数,その他_その他_最大出力計,合計_合計_発電所数,合計_合計_最大出力計
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,3.0,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,4.0,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,2.0,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,0.0,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,1.0,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2

In [16]:
datas=[]
for sheet in sheets:
  data=xl.parse(sheets[0],skiprows=4,header=None)
  data.drop(data.tail(4).index,inplace=True)
  data.columns=cols
  data['年月']=sheet
  datas.append(data)
datas

[    都道府県 水力発電所_水力_発電所数  水力発電所_水力_最大出力計  火力発電所_火力_発電所数  火力発電所_火力_最大出力計  \
 0    北海道            98       2032077.6           32.0       6176880.0
 1    青森県            19        128750.0           10.0        655750.0
 2    岩手県            40        274661.0            3.0        238000.0
 3    宮城県            22         63915.0           10.0       2211050.0
 4    秋田県            42        287863.0            4.0       2497550.0
 5    山形県            42        401814.0            3.0        750750.0
 6    福島県            94       3973025.0           12.0      11626600.0
 7    茨城県             6         13450.0           16.0       9985120.0
 8    栃木県            33       2942130.0            3.0       1291200.0
 9    群馬県            74       3126512.0            3.0         45350.0
 10   埼玉県            13         68580.0            3.0        151200.0
 11   千葉県             1           132.0           22.0      20049525.0
 12   東京都             5         44750.0           35.0       2608350.0
 13  神奈川県            27        407751.0           28.0      16082873.0
 14   新潟県            85       3305351.0           17.0       8115660.0
 15   富山県           126       2947430.0            3.0       1934700.0
 16   石川県            30        569440.0            2.0       1200288.0
 17   福井県            30        537190.0            4.0       1527530.0
 18   山梨県            65       1685795.0            0.0             0.0
 19   長野県           171       3785514.0            1.0          7355.0
 20   岐阜県            98       4477646.0            1.0          7660.0
 21   静岡県            59       1331400.0            7.0        476940.0
 22   愛知県            24       2319610.0           19.0      17491730.0
 23   三重県            20        197970.0            6.0       5624000.0
 24   滋賀県            14         25950.0            2.0         22400.0
 25   京都府            22        641590.0            7.0       2669300.0
 26   大阪府             1           120.0           21.0       5601080.0
 27   兵庫県            19       3253480.0           20.0      10511880.0
 28   奈良県            15       1741370.0            0.0             0.0
 29  和歌山県            15        211409.0            3.0       2197000.0
 30   鳥取県            31       1314157.0            2.0        136100.0
 31   島根県            26        163530.0            4.0       1045400.0
 32   岡山県            36        492203.0            3.0       2093000.0
 33   広島県            37       1015709.0           13.0       1628610.0
 34   山口県            22        104587.0           18.0       6214350.0
 35   徳島県            18        267550.0            4.0       3826000.0
 36   香川県             0             0.0            1.0       1385000.0
 37   愛媛県            27        184640.0            8.0       1771290.0
 38   高知県            43       1164746.0            3.0        319000.0
 39   福岡県             8         16620.0           22.0       4490146.0
 40   佐賀県            14        658010.0            2.0         44050.0
 41   長崎県             6          1155.0           10.0       4882800.0
 42   熊本県            49        803395.0            5.0       1562280.0
 43   大分県            38        300520.0            9.0       4111600.0
 44   宮崎県            48       2158730.0            4.0        204940.0
 45  鹿児島県            35        195808.0           30.0       1307600.0
 46   沖縄県             0             0.0           26.0       2470080.0

     原子力発電所_原子力_発電所数  原子力発電所_原子力_最大出力計  新エネルギー等発電所_風力_発電所数  \
 0               1.0         2070000.0                56.0
 1               1.0         1100000.0                24.0
 2               0.0               0.0                 5.0
 3               1.0         1650000.0                 1.0
 4               0.0               0.0                24.0
 5               0.0               0.0                 7.0
 6               0.0               0.0                 4.0
 7               1.0         1100000.0                 7.0
 8               0.0               0.0                 0.0
 9               0.0               0.0                 0.0
 10              0.0               0.0                 0.0
 11              0.0               0.0                12.0
 12              0.0               0.0                 1.0
 13              0.0               0.0                 1.0
 14              1.0         8212000.0                 1.0
 15              0.0               0.0                 1.0
 16              1.0         1746000.0                 7.0
 17              4.0         7738000.0                 2.0
 18              0.0               0.0                 0.0
 19              0.0               0.0                 0.0
 20              0.0               0.0                 1.0
 21              1.0         3617000.0                26.0
 22              0.0               0.0                 6.0
 23              0.0               0.0                 5.0
 24              0.0               0.0                 0.0
 25              0.0               0.0                 0.0
 26              0.0               0.0                 0.0
 27              0.0               0.0                17.0
 28              0.0               0.0                 0.0
 29              0.0               0.0                 7.0
 30              0.0               0.0                 6.0
 31              1.0          820000.0                 6.0
 32              0.0               0.0                 0.0
 33              0.0               0.0                 0.0
 34              0.0               0.0                15.0
 35              0.0               0.0                 1.0
 36              0.0               0.0                 0.0
 37              1.0          890000.0                 7.0
 38              0.0               0.0                 5.0
 39              0.0               0.0                 1.0
 40              1.0         2360000.0                 2.0
 41              0.0               0.0                22.0
 42              0.0               0.0                 2.0
 43              0.0               0.0                 1.0
 44              0.0               0.0                 1.0
 45              1.0         1780000.0                18.0
 46              0.0               0.0                13.0

     新エネルギー等発電所_風力_最大出力計  新エネルギー等発電所_太陽光_発電所数  ...  新エネルギー等発電所_バイオマス_最大出力計  \
 0              428134.0                127.0  ...                 96650.0
 1              593870.0                 35.0  ...                134850.0
 2              109180.0                 27.0  ...                 89000.0
 3               20400.0                 75.0  ...                 12900.0
 4              422518.6                 24.0  ...                 20500.0
 5               45260.0                  9.0  ...                 50000.0
 6              155980.0                107.0  ...                215100.0
 7               86220.0                218.0  ...                134560.0
 8                   0.0                 92.0  ...                 43000.0
 9                   0.0                 67.0  ...                 25640.0
 10                  0.0                 36.0  ...                     0.0
 11              59090.0                166.0  ...                 49900.0
 12               1700.0                  7.0  ...                     0.0
 13               1990.0                 35.0  ...                 87952.0
 14              20000.0                 18.0  ...                 50000.0
 15               1800.0                 12.0  ...                     0.0
 16             111550.0                 20.0  ...                     0.0
 17              28000.0                 16.0  ...                 37000.0
 18                  0.0                 25.0  ...                     0.0
 19                  0.0                 41.0  ...                     0.0
 20               9200.0                 26.0  ...                     0.0
 21             170840.0                 77.0  ...                 50000.0
 22              47980.0                 61.0  ...                157630.0
 23             199000.0                134.0  ...                 20100.0
 24                  0.0                 21.0  ...                     0.0
 25                  0.0                 12.0  ...                  1000.0
 26                  0.0                 51.0  ...                     0.0
 27              51500.0                105.0  ...                101280.0
 28                  0.0                 22.0  ...                     0.0
 29             116940.0                 28.0  ...                 18000.0
 30              57000.0                 19.0  ...                136100.0
 31             172320.0                 17.0  ...                 12700.0
 32                  0.0                 80.0  ...                     0.0
 33                  0.0                 45.0  ...                 70710.0
 34              99500.0                 83.0  ...                105500.0
 35              19500.0                 16.0  ...                 94000.0
 36                  0.0                 34.0  ...                     0.0
 37              99500.0                 25.0  ...                 47900.0
 38              84870.0                 14.0  ...                 29500.0
 39              15000.0                121.0  ...                238150.0
 40              30000.0                 34.0  ...                  9850.0
 41              91797.0                 67.0  ...                     0.0
 42              26000.0                 81.0  ...                 76780.0
 43              11000.0                 53.0  ...                118200.0
 44              16000.0                 35.0  ...                 76700.0
 45             225470.0                143.0  ...                 72700.0
 46              18130.0                  1.0  ...                     0.0

     新エネルギー等発電所_廃棄物_発電所数  新エネルギー等発電所_廃棄物_最大出力計  新エネルギー等発電所_計_発電所数  \
 0                   3.0               49920.0              184.0
 1                   1.0               18800.0               59.0
 2                   0.0                   0.0               34.0
 3                   4.0               35850.0               76.0
 4                   0.0               15000.0               51.0
 5                   1.0               50000.0               16.0
 6                   0.0                   0.0              112.0
 7                   0.0                   0.0              225.0
 8                   0.0                   0.0               92.0
 9                   0.0                4310.0               67.0
 10                  1.0               24000.0               36.0
 11                  0.0                   0.0              178.0
 12                 19.0              288150.0                8.0
 13                  5.0               96146.0               36.0
 14                  0.0                   0.0               19.0
 15                  1.0               20000.0               13.0
 16                  0.0                   0.0               27.0
 17                  0.0                   0.0               18.0
 18                  0.0                   0.0               25.0
 19                  0.0                   0.0               41.0
 20                  0.0                   0.0               27.0
 21                  2.0               22390.0              103.0
 22                  4.0               38500.0               67.0
 23                  0.0                   0.0              139.0
 24                  0.0                   0.0               21.0
 25                  3.0               46300.0               12.0
 26                  9.0              157810.0               51.0
 27                  3.0               41750.0              122.0
 28                  0.0                   0.0               22.0
 29                  0.0                   0.0               35.0
 30                  0.0                   0.0               25.0
 31                  0.0                   0.0               23.0
 32                  0.0                   0.0               80.0
 33                  0.0                   0.0               45.0
 34                  0.0                   0.0               98.0
 35                  0.0                   0.0               17.0
 36                  0.0                   0.0               34.0
 37                  0.0                   0.0               32.0
 38                  0.0                   0.0               19.0
 39                  3.0               51700.0              122.0
 40                  0.0                   0.0               36.0
 41                  0.0                   0.0               89.0
 42                  2.0               10500.0               83.0
 43                  0.0                   0.0               60.0
 44                  0.0                   0.0               36.0
 45                  0.0                   0.0              164.0
 46                  0.0                   0.0               14.0

     新エネルギー等発電所_計_最大出力計  その他_その他_発電所数  その他_その他_最大出力計  合計_合計_発電所数  合計_合計_最大出力計  \
 0           1128885.10           0.0            0.0       315.0  11407842.70
 1            993867.00           0.0            0.0        89.0   2878367.00
 2            451113.40           0.0            0.0        77.0    963774.40
 3            454812.00           0.0            0.0       109.0   4379777.00
 4            627939.20           0.0            0.0        97.0   3413352.20
 5            102289.00           0.0            0.0        61.0   1254853.00
 6            960389.50           0.0            0.0       218.0  16560014.50
 7            855413.10           0.0            0.0       248.0  11953983.10
 8            428977.70           0.0            0.0       128.0   4662307.70
 9            250031.80           0.0            0.0       144.0   3421893.80
 10            42401.00           0.0            0.0        52.0    262181.00
 11           536965.00           0.0            0.0       201.0  20586622.00
 12             2467.50           0.0            0.0        48.0   2655567.50
 13            49058.00           0.0            0.0        91.0  16539682.00
 14           122104.00           0.0            0.0       122.0  19755115.00
 15            24079.00           0.0            0.0       142.0   4906209.00
 16           241522.00           0.0            0.0        60.0   3757250.00
 17            49559.00           0.0            0.0        56.0   9852279.00
 18            43428.00           0.0            0.0        90.0   1729223.00
 19           113968.00           0.0            0.0       213.0   3906837.00
 20            95257.90           0.0            0.0       126.0   4580563.90
 21           463442.00           1.0         1410.0       171.0   5890192.00
 22           337963.00           0.0            0.0       110.0  20149303.00
 23           731516.00           0.0            0.0       165.0   6553486.00
 24            41198.56           0.0            0.0        37.0     89548.56
 25            49390.70           0.0            0.0        41.0   3360280.70
 26           103679.00           0.0            0.0        73.0   5704879.00
 27           381343.91           0.0         7000.0       161.0  14153703.91
 28            78552.00           0.0            0.0        37.0   1819922.00
 29           270231.00           0.0            0.0        53.0   2678640.00
 30           146150.00           0.0            0.0        58.0   1596407.00
 31           198820.00           0.0            0.0        54.0   2227750.00
 32           663211.00           0.0            0.0       119.0   3248414.00
 33           137639.00           0.0            0.0        95.0   2781958.00
 34           383279.00           0.0            0.0       138.0   6702216.00
 35            66581.00           0.0            0.0        39.0   4160131.00
 36            56975.00           0.0            0.0        35.0   1441975.00
 37           206570.00           0.0            0.0        68.0   3052500.00
 38           158066.00           0.0        10500.0        65.0   1652312.00
 39           391753.00           1.0        24000.0       153.0   4922519.00
 40           106331.00           0.0            0.0        53.0   3168391.00
 41           327743.00           0.0            0.0       105.0   5211698.00
 42           258540.00           0.0            0.0       137.0   2624215.00
 43           558694.60           0.0            0.0       107.0   4970814.60
 44           264774.50           0.0            0.0        88.0   2628444.50
 45           877953.00           0.0            0.0       230.0   4161361.00
 46            30130.00           0.0            0.0        40.0   2500210.00

         年月
 0   2020.4
 1   2020.4
 2   2020.4
 3   2020.4
 4   2020.4
 5   2020.4
 6   2020.4
 7   2020.4
 8   2020.4
 9   2020.4
 10  2020.4
 11  2020.4
 12  2020.4
 13  2020.4
 14  2020.4
 15  2020.4
 16  2020.4
 17  2020.4
 18  2020.4
 19  2020.4
 20  2020.4
 21  2020.4
 22  2020.4
 23  2020.4
 24  2020.4
 25  2020.4
 26  2020.4
 27  2020.4
 28  2020.4
 29  2020.4
 30  2020.4
 31  2020.4
 32  2020.4
 33  2020.4
 34  2020.4
 35  2020.4
 36  2020.4
 37  2020.4
 38  2020.4
 39  2020.4
 40  2020.4
 41  2020.4
 42  2020.4
 43  2020.4
 44  2020.4
 45  2020.4
 46  2020.4

 [47 rows x 24 columns],
     都道府県 水力発電所_水力_発電所数  水力発電所_水力_最大出力計  火力発電所_火力_発電所数  火力発電所_火力_最大出力計  \
 0    北海道            98       2032077.6           32.0       6176880.0
 1    青森県            19        128750.0           10.0        655750.0
 2    岩手県            40        274661.0            3.0        238000.0
 3    宮城県            22         63915.0           10.0       2211050.0
 4    秋田県            42        287863.0            4.0       2497550.0
 5    山形県            42        401814.0            3.0        750750.0
 6    福島県            94       3973025.0           12.0      11626600.0
 7    茨城県             6         13450.0           16.0       9985120.0
 8    栃木県            33       2942130.0            3.0       1291200.0
 9    群馬県            74       3126512.0            3.0         45350.0
 10   埼玉県            13         68580.0            3.0        151200.0
 11   千葉県             1           132.0           22.0      20049525.0
 12   東京都             5         44750.0           35.0       2608350.0
 13  神奈川県            27        407751.0           28.0      16082873.0
 14   新潟県            85       3305351.0           17.0       8115660.0
 15   富山県           126       2947430.0            3.0       1934700.0
 16   石川県            30        569440.0            2.0       1200288.0
 17   福井県            30        537190.0            4.0       1527530.0
 18   山梨県            65       1685795.0            0.0             0.0
 19   長野県           171       3785514.0            1.0          7355.0
 20   岐阜県            98       4477646.0            1.0          7660.0
 21   静岡県            59       1331400.0            7.0        476940.0
 22   愛知県            24       2319610.0           19.0      17491730.0
 23   三重県            20        197970.0            6.0       5624000.0
 24   滋賀県            14         25950.0            2.0         22400.0
 25   京都府            22        641590.0            7.0       2669300.0
 26   大阪府             1           120.0           21.0       5601080.0
 27   兵庫県            19       3253480.0           20.0      10511880.0
 28   奈良県            15       1741370.0            0.0             0.0
 29  和歌山県            15        211409.0            3.0       2197000.0
 30   鳥取県            31       1314157.0            2.0        136100.0
 31   島根県            26        163530.0            4.0       1045400.0
 32   岡山県            36        492203.0            3.0       2093000.0
 33   広島県            37       1015709.0           13.0       1628610.0
 34   山口県            22        104587.0           18.0       6214350.0

In [17]:
datas = pd.concat(datas, ignore_index=True)
datas.head()

,都道府県,水力発電所_水力_発電所数,水力発電所_水力_最大出力計,火力発電所_火力_発電所数,火力発電所_火力_最大出力計,原子力発電所_原子力_発電所数,原子力発電所_原子力_最大出力計,新エネルギー等発電所_風力_発電所数,新エネルギー等発電所_風力_最大出力計,新エネルギー等発電所_太陽光_発電所数,...,新エネルギー等発電所_バイオマス_最大出力計,新エネルギー等発電所_廃棄物_発電所数,新エネルギー等発電所_廃棄物_最大出力計,新エネルギー等発電所_計_発電所数,新エネルギー等発電所_計_最大出力計,その他_その他_発電所数,その他_その他_最大出力計,合計_合計_発電所数,合計_合計_最大出力計,年月
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7,2020.4
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0,2020.4
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4,2020.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0,2020.4
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2,2020.4

In [18]:
datas['火力発電所_火力_発電所数']= datas['火力発電所_火力_発電所数'] - datas['新エネルギー等発電所_バイオマス_発電所数'] - datas['新エネルギー等発電所_廃棄物_発電所数']

In [19]:
datas['火力発電所_火力_最大出力計'] = datas['火力発電所_火力_最大出力計'] - datas['新エネルギー等発電所_バイオマス_最大出力計'] - datas['新エネルギー等発電所_廃棄物_最大出力計']

In [20]:
datas.head()

,都道府県,水力発電所_水力_発電所数,水力発電所_水力_最大出力計,火力発電所_火力_発電所数,火力発電所_火力_最大出力計,原子力発電所_原子力_発電所数,原子力発電所_原子力_最大出力計,新エネルギー等発電所_風力_発電所数,新エネルギー等発電所_風力_最大出力計,新エネルギー等発電所_太陽光_発電所数,...,新エネルギー等発電所_バイオマス_最大出力計,新エネルギー等発電所_廃棄物_発電所数,新エネルギー等発電所_廃棄物_最大出力計,新エネルギー等発電所_計_発電所数,新エネルギー等発電所_計_最大出力計,その他_その他_発電所数,その他_その他_最大出力計,合計_合計_発電所数,合計_合計_最大出力計,年月
0,北海道,98,2032077.6,26.0,6030310.0,1.0,2070000.0,56.0,428134.0,127.0,...,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7,2020.4
1,青森県,19,128750.0,5.0,502100.0,1.0,1100000.0,24.0,593870.0,35.0,...,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0,2020.4
2,岩手県,40,274661.0,1.0,149000.0,0.0,0.0,5.0,109180.0,27.0,...,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4,2020.4
3,宮城県,22,63915.0,6.0,2162300.0,1.0,1650000.0,1.0,20400.0,75.0,...,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0,2020.4
4,秋田県,42,287863.0,3.0,2462050.0,0.0,0.0,24.0,422518.6,24.0,...,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2,2020.4

In [21]:
datas_v = pd.melt(datas, id_vars=['都道府県','年月'],var_name="変数名",value_name="値")
datas_v.head()

  都道府県      年月            変数名   値
0  北海道  2020.4  水力発電所_水力_発電所数  98
1  青森県  2020.4  水力発電所_水力_発電所数  19
2  岩手県  2020.4  水力発電所_水力_発電所数  40
3  宮城県  2020.4  水力発電所_水力_発電所数  22
4  秋田県  2020.4  水力発電所_水力_発電所数  42

In [22]:
var_data=datas_v['変数名'].str.split('_',expand=True)
var_data.head()

       0   1     2
0  水力発電所  水力  発電所数
1  水力発電所  水力  発電所数
2  水力発電所  水力  発電所数
3  水力発電所  水力  発電所数
4  水力発電所  水力  発電所数

In [23]:
var_data.columns=['発電所種別','発電種別','項目']
datas_v=pd.concat([datas_v,var_data],axis=1)
datas_v.drop(['変数名'],axis=1,inplace=True)
datas_v.head()

  都道府県      年月   値  発電所種別 発電種別    項目
0  北海道  2020.4  98  水力発電所   水力  発電所数
1  青森県  2020.4  19  水力発電所   水力  発電所数
2  岩手県  2020.4  40  水力発電所   水力  発電所数
3  宮城県  2020.4  22  水力発電所   水力  発電所数
4  秋田県  2020.4  42  水力発電所   水力  発電所数

In [24]:
capacity_data = pd.read_excel('data/2-2-2020.xlsx')
display(capacity_data.head())
display(capacity_data.tail())

,２－（２）．都道府県別発電実績 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,２０２０年８月３日公表時点,Unnamed: 10,"（単位：1,000kWh）"
0,都道府県,水力発電所,火力発電所,原子力発電所,新エネルギー等発電所,NaN,NaN,NaN,NaN,NaN,その他,合計
1,NaN,NaN,NaN,NaN,風力,太陽光,地熱,〔バイオマス〕,〔廃棄物〕,計,NaN,NaN
2,NaN,電力量,電力量,電力量,電力量,電力量,電力量,電力量,電力量,電力量,電力量,電力量
3,北海道,408779.3,1838320.47,0.0,86901.404,104709.672,10354.0,100682.0,32870.0,201965.076,0.0,2449064.846
4,青森県,50945.0,189372.0,0.0,130363.28,52596.6659,0.0,73726.0,6823.0,182959.9459,0.0,423276.9459

,２－（２）．都道府県別発電実績 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,２０２０年８月３日公表時点,Unnamed: 10,"（単位：1,000kWh）"
48,鹿児島県,34701.0,70601.0,654763.0,26101.985,74286.66,25633.0,30089.0,0.0,126021.645,0.0,886086.645
49,沖縄県,0.0,478257.0,0.0,2653.0,1215.0,0.0,1758.0,0.0,3868.0,0.0,482125.0
50,合 計,8296665.947,46596894.9142,4631681.89,709349.955,1596008.836673,159402.0,1428699.17284,316874.30255,2464760.791673,17256.0,62007262.965873
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,備考,バイオマスまたは廃棄物の欄には、専ら又は主として使用する燃料がバイオマス又は廃棄物の場合には...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
col_ca_data=pd.read_excel('data/2-2-2020.xlsx',skiprows=1, header=None)
col_ca_data=col_ca_data.head(3)
col_ca_data.iloc[1,1:].fillna(col_ca_data.iloc[0,1:],inplace=True)
col_ca_data.iloc[1,1:]=col_ca_data.iloc[1,1:].str.replace('発電所','')

for i in col_ca_data.columns:
  if i<col_ca_data.columns.max():
    col_ca_data[i+1].fillna(col_ca_data[i],inplace=True)
col_ca_data.replace('〔バイオマス〕','バイオマス',inplace=True)
col_ca_data.replace('〔廃棄物〕','廃棄物',inplace=True)

cols_ca=[]
for i in col_ca_data.columns:
  tg_col='_'.join(list(col_ca_data[i].dropna()))
  cols_ca.append(tg_col)
cols_ca

['都道府県',
 '水力発電所_水力_電力量',
 '火力発電所_火力_電力量',
 '原子力発電所_原子力_電力量',
 '新エネルギー等発電所_風力_電力量',
 '新エネルギー等発電所_太陽光_電力量',
 '新エネルギー等発電所_地熱_電力量',
 '新エネルギー等発電所_バイオマス_電力量',
 '新エネルギー等発電所_廃棄物_電力量',
 '新エネルギー等発電所_計_電力量',
 'その他_その他_電力量',
 '合計_合計_電力量']

In [26]:
xl_ca=pd.ExcelFile('data/2-2-2020.xlsx')
sheets=xl_ca.sheet_names
ca_datas=[]
for sheet in sheets:
  capacity_data=xl_ca.parse(sheet, skiprows=4, header=None)
  capacity_data=capacity_data.head(47)
  capacity_data.columns=cols_ca
  capacity_data['年月']=sheet
  ca_datas.append(capacity_data)
ca_datas=pd.concat(ca_datas,ignore_index=True)
ca_datas.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,都道府県,水力発電所_水力_電力量,火力発電所_火力_電力量,原子力発電所_原子力_電力量,新エネルギー等発電所_風力_電力量,新エネルギー等発電所_太陽光_電力量,新エネルギー等発電所_地熱_電力量,新エネルギー等発電所_バイオマス_電力量,新エネルギー等発電所_廃棄物_電力量,新エネルギー等発電所_計_電力量,その他_その他_電力量,合計_合計_電力量,年月
0,北海道,408779.3,1838320.47,0.0,86901.404,104709.6720,10354.0,100682.00,32870.0,201965.0760,0.0,2.449065e+06,2020.4
1,青森県,50945.0,189372.00,0.0,130363.280,52596.6659,0.0,73726.00,6823.0,182959.9459,0.0,4.232769e+05,2020.4
2,岩手県,144505.0,56981.05,0.0,31640.883,31047.0000,21889.0,56371.05,0.0,84576.8830,0.0,2.860629e+05,2020.4
3,宮城県,33697.0,943982.00,0.0,5176.000,68463.1100,0.0,72447.00,25211.0,73639.1100,0.0,1.051318e+06,2020.4
4,秋田県,122188.0,1135707.37,0.0,109050.502,14774.3000,42218.0,13966.37,7599.0,166042.8020,0.0,1.423938e+06,2020.4

In [27]:
ca_datas['火力発電所_火力_電力量']=ca_datas['火力発電所_火力_電力量']-ca_datas['新エネルギー等発電所_バイオマス_電力量']-ca_datas['新エネルギー等発電所_廃棄物_電力量']
ca_datas.drop(['合計_合計_電力量','新エネルギー等発電所_計_電力量'],axis=1,inplace=True)
ca_datas_v=pd.melt(ca_datas,id_vars=['都道府県','年月'],var_name='変数名', value_name="値")
var_data=ca_datas_v['変数名'].str.split('_',expand=True)
var_data.columns=['発電所種別','発電所別','項目']
ca_data_v=pd.concat([ca_datas_v,var_data],axis=1)
ca_datas_v.drop(['変数名'],axis=1,inplace=True)
ca_datas_v.head()

  都道府県      年月         値
0  北海道  2020.4  408779.3
1  青森県  2020.4   50945.0
2  岩手県  2020.4  144505.0
3  宮城県  2020.4   33697.0
4  秋田県  2020.4  122188.0

## ノック３：ヘッダ用のテキストファイルを読み込もう

## ノック４：ヘッダ行を追加しよう

## ノック５：統計量や欠損値を確認しよう

## ノック６：データの追加（繰り返し・読込・抽出・結合）

## ノック７：マスタを読み込んで項目を横に繋げよう

## ノック８：テキストの連結や分割をしよう

## ノック９：日付を加工しよう

## ノック１０：年度を設定しよう

## ノック１１：加工したデータをファイルに出力しよう

## ノック１２：不要な項目の削除と並べ替えをしよう

## ノック１３：まとまった単位で集計しよう

## ノック１４：市区町村別の法人数を可視化しよう

## ノック１５：グラフの縦横と表示順を変えてみよう

## ノック１６：グラフのタイトルとラベルを設定しよう

## ノック１７：グラフの見た目をもっと変えてみよう

## ノック１８：９０日以内に新規登録された法人数を可視化してみよう

## ノック１９：年度別の推移を可視化しよう

## ノック２０：データとグラフを出力しよう