<a href="https://colab.research.google.com/github/kaz-taka-1/2-02_tag/blob/main/1%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os 
project = '100knock-process-visualization'
chapter = 2
os.chdir(f'/content/drive/MyDrive/{project}/chapter-{chapter}/')

# １章 システムデータの加工・可視化を行う２０本ノック

## ノック１：法人情報データを読み込んでみよう

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None)

FileNotFoundError: ignored

In [ ]:
data.head()

In [ ]:
len(data.columns)

In [ ]:
data

In [ ]:
data = pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None,dtype=object)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
data=pd.read_csv('data/22_shizuoka_all_20210331.csv',encoding='shift-jis',header=None,dtype=object)

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
mst = pd.read_csv('data/mst_column_name.txt',encoding='shift-jis',sep='\t')

In [ ]:
mst.head()

In [ ]:
len(mst) == len(data.columns)

In [ ]:
columns=mst.column_name_en.values

In [ ]:
columns

In [ ]:
data.columns = columns

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
data.isna()

In [ ]:
data.isna().sum()

In [ ]:
import os
os.listdir('data')

In [ ]:
from glob import glob
diff_files = glob('data/diff*.csv')
diff_files

In [ ]:
diff_files.sort()
diff = pd.read_csv(diff_files[0],encoding='shift-jis',header=None,dtype=object)
print(len(diff))
diff.head(3)

In [ ]:
diff.columns = columns
diff=diff.loc[diff['prefectureName']=='静岡県']
print(len(diff))
diff.head(3)

In [ ]:
data_test = data
print(len(data_test))
print(len(data_test)==len(data))
print(len(diff))
data_test=data_test.append(diff)
print(len(data_test))
data_test.tail(3)

In [ ]:
for f in diff_files:
  diff = pd.read_csv(f,encoding='shift-jis',header=None,dtype=object)
  diff.columns=columns
  diff = diff.loc[diff['prefectureName']=='静岡県']
  data = data.append(diff)
data

In [ ]:
data.describe()

In [ ]:
print(data[data["corporateNumber"].duplicated()])

In [ ]:
data.drop_duplicates(subset='corporateNumber', keep='last', inplace=True)

In [ ]:
data.describe()

In [ ]:
data.isna().sum()

In [ ]:
os.listdir('data')

In [ ]:
mst_process_kbn=pd.read_csv('data/mst_process_kbn.csv',dtype=object)
mst_process_kbn

In [ ]:
data=data.merge(mst_process_kbn,on='process', how='left')

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
mst_correct_kbn=pd.read_csv('data/mst_correct_kbn.csv',encoding='shift-jis', dtype=object)
mst_correct_kbn

In [ ]:
data=data.merge(mst_correct_kbn,on='correct', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_corp_kind=pd.read_csv('data/mst_corp_kind.csv',dtype=object)
mst_corp_kind

In [ ]:
data=data.merge(mst_corp_kind,on='kind',how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_close_cause=pd.read_csv('data/mst_closeCause.csv',dtype=object)
mst_close_cause

In [ ]:
data=data.merge(mst_close_cause, on='closeCause', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_latest=pd.read_csv('data/mst_latest.csv',dtype=object)
mst_latest

In [ ]:
data=data.merge(mst_latest, on='latest', how='left')
print(len(data.columns))
data.head(3)

In [ ]:
mst_hihyoji=pd.read_csv('data/mst_hihyoji.csv',dtype=object)
mst_hihyoji

In [ ]:
data=data.merge(mst_hihyoji,on='hihyoji',how='left')
print(len(data.columns))
data.head(3)

In [ ]:
data[['prefectureName','cityName','streetNumber']].isna().sum()

In [ ]:
data['address']=data['prefectureName']+data['cityName']+data['streetNumber']
print(len(data.columns))
data.head(3)

In [ ]:
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data['address'].loc[data['streetNumber'].isna()]=data['prefectureName']+data['cityName']

In [ ]:
print(data['address'].isna().sum())
data.loc[data['streetNumber'].isna()].head(3)

In [ ]:
data.head(3)

In [ ]:
data['postCode_head']=data['postCode'].str[:3]
print(len(data.columns))
data.head(3)

In [ ]:
data['postCode_tail']=data['postCode'].str[-4:]
print(len(data.columns))
data.head(3)

In [ ]:
tmp=pd.to_datetime(data['closeDate'])
tmp.dtypes

In [ ]:
dt_columns=['updateDate','changeDate','closeDate','assignmentDate']
for col in dt_columns:
  data[col]=pd.to_datetime(data[col])

In [ ]:
data.dtypes

In [ ]:
data['corporate_life']=data['closeDate']-data['assignmentDate']
print(len(data.columns))
data.head(3)

In [ ]:
tep=data.loc[data['closeDate'].notna()]
print(len(tmp))
tep.head(3)

In [ ]:
len(data.loc[data['closeCause'].notna()])==len(data.loc[data['closeDate'].notna()])

In [ ]:
data['update_YM']=data['updateDate'].dt.to_period('M')
print(len(data.columns))
data.head()

In [ ]:
dt_prefixes=['assignment','change','update','close']
for pre in dt_prefixes:
  data[f'{pre}_YM']=data[f'{pre}Date'].dt.to_period('M')

In [ ]:
data.head()

In [ ]:
data.dtypes

In [ ]:
data['update_year']=pd.DatetimeIndex(data['updateDate']).year
data['update_month']=pd.DatetimeIndex(data['updateDate']).month
data['update_fiscal_year']=pd.DatetimeIndex(data['updateDate']).year
data.loc[data['update_month']<4,'update_fiscal_year'] -=1

In [ ]:
print(len(data.columns))
data.head(3)

In [ ]:
for i in range(12):
  display(data[['update_YM','update_fiscal_year']].loc[data['update_month']==i+1][:1])

In [ ]:
output_dir='data/output'
os.makedirs(output_dir,exist_ok=True)

In [ ]:
output_file='processed_shizuoka.csv'
data.to_csv(os.path.join(output_dir,output_file),index=False)

In [ ]:
output_file = output_file.replace('.csv','.xlsx')
data.to_excel(os.path.join(output_dir,output_file),index=False)

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data=data[['cityName','corporateNumber','name','corp_kind_name','process','process_kbn_name','assignmentDate','updateDate','update_fiscal_year','update_YM']]

In [ ]:
print(len(data.columns))
print(data.columns)
data.head(3)

In [ ]:
data = data.drop(columns='process')
print(data.columns)
data.head(3)

In [ ]:
tmp = data.groupby('corp_kind_name').size()
tmp

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
tmp

In [ ]:
tmp=data.groupby('update_fiscal_year').size()
tmp

In [ ]:
tmp=data.groupby(['update_fiscal_year','corp_kind_name']).size()
tmp

In [ ]:
pt_data=pd.pivot_table(data,index='corp_kind_name',columns='update_fiscal_year',aggfunc='size')
pt_data

In [ ]:
%%bash
pip install -q japanize-matplotlib

In [ ]:
tmp = data.groupby('cityName').size()
tmp.head()

In [ ]:
import matplotlib.pyplot as plt
import japanize_matplotlib

x = tmp.index
y = tmp.values
plt.bar(x,y)

In [ ]:
plt.figure(figsize = (20,10))
plt.bar(x,y)

In [ ]:
tmp.sort_values(inplace=True,ascending=True)
tmp

In [ ]:
plt.figure(figsize=(10,15))
x = tmp.index
y = tmp.values
plt.barh(x,y)

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
plt.figure(figsize=(20,10))
x=tmp[:10].index
y=tmp[:10].values
plt.bar(x,y)

In [ ]:
plt.figure(figsize=(20,10))
plt.bar(x,y)
plt.title('市区町村別の法人数',fontsize=20)
plt.xlabel('市区町村名',fontsize=15)
plt.ylabel('法人数')

In [ ]:
tmp.sort_values(inplace=True,ascending=False)
tmp = tmp[:10]
x=tmp.index
y=tmp.values
fig,ax=plt.subplots(figsize=(20,10))
bar_list=ax.bar(x,y,color='lightgray')
bar_list[4].set_color('blue')
ax.set_title('自治体別法人数における富士市の位置付け',fontsize=20);
ax.set_ylabel('法人数',fontsize=15)
ax.text(7.5,9000,'上位10の自治体を抜粋して表示',fontsize=15)

In [ ]:
base_time=pd.Timestamp.now(tz='Asia/Tokyo')
base_time

In [ ]:
print(len(data))
data.head()

In [ ]:
data['assignmentDate']=data['assignmentDate'].dt.tz_localize('Asia/Tokyo')
data.head()

In [ ]:
delta=pd.Timedelta(393, 'days')
tmp=data.loc[(data['process_kbn_name']=='新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby('cityName').size()
tmp.sort_values(inplace=True,ascending=False)
tmp=tmp[:10]
x=tmp.index
y=tmp.values
plt.figure(figsize=(20,10))
plt.bar(x,y)

In [ ]:
base_time=pd.Timestamp('2020-04-16',tz='Asia/Tokyo')
tmp=data.loc[(data['process_kbn_name']=='新規') & (base_time - data['assignmentDate'] <= delta)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby('cityName').size()
tmp.sort_values(inplace=True,ascending=False)
tmp=tmp[:10]
x=tmp.index
y=tmp.values
plt.figure(figsize=(20,10))
plt.bar(x,y)

In [ ]:
tmp=data.dropna(subset=['cityName'])
tmp=tmp.loc[tmp['cityName'].str.match('^.*区$')]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.loc[(tmp['update_fiscal_year'] >=2016)&(tmp['update_fiscal_year']<2021)]
print(len(tmp))
tmp.head()

In [ ]:
tmp=tmp.groupby(['cityName','update_fiscal_year']).size()
tmp.name='count'
tmp=tmp.reset_index()
print(len(tmp))
tmp.head(6)

In [ ]:
import seaborn as sns
from matplotlib.ticker import MaxNLocator
plt.figure(figsize=(20,10))
plt.gca().xaxis.set_major_locator(MaxNLocator(integer=True))
img=sns.lineplot(x=tmp['update_fiscal_year'],y=tmp['count'],hue=tmp['cityName'])

In [ ]:
data_file='knock20_graphdata.csv'
data.to_csv(os.path.join(output_dir,data_file),index=False)
graph_file='knock20_graph.png'
fig=img.get_figure()
fig.savefig(os.path.join(output_dir,graph_file))

## ノック２：読み込んだデータを確認しよう

In [5]:
import pandas as pd
data = pd.read_excel('data/1-2-2020.xlsx')
data.head()

,１－（２）．都道府県別発電所数、出力数 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,２０２０年 ８月３日公表時点,Unnamed: 21,（単位：kW）
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,NaN,NaN,NaN,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計
3,北海道,98,2032077.6,32,6176880,1,2070000,56,428134,127,...,3,96650,3,49920,184,1128885.1,0,0,315,11407842.7
4,青森県,19,128750,10,655750,1,1100000,24,593870,35,...,4,134850,1,18800,59,993867,0,0,89,2878367

In [6]:
data.tail()

,１－（２）．都道府県別発電所数、出力数 （２０２０年４月）,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,２０２０年 ８月３日公表時点,Unnamed: 21,（単位：kW）
49,沖縄県,0,0,26,2470080,0,0,13,18130,1,...,0,0,0,0,14,30130,0,0,40,2500210
50,合 計,1748,49638035.6,461,169249967,15,33083000,315,3647239.2,2562,...,78,2483852,61,971126,2893,14865055.2,2,42910,5119,266878967.8
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,備考,１ バイオマスまたは廃棄物の欄には、専ら又は主として使用する燃料がバイオマス又は廃棄物の場合...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,２ 一つの発電所内に複数の発電機が存在し、電源種別が異なる場合には、発電所数は最大出力が最大...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data=pd.read_excel('data/1-2-2020.xlsx',skiprows=4, header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,3.0,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,4.0,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,2.0,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,0.0,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,1.0,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2

In [8]:
data.drop(data.tail(4).index, inplace=True)
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
42,熊本県,49,803395.0,5.0,1562280.0,0.0,0.0,2.0,26000.0,81.0,...,1.0,76780.0,2.0,10500.0,83.0,258540.0,0.0,0.0,137.0,2624215.0
43,大分県,38,300520.0,9.0,4111600.0,0.0,0.0,1.0,11000.0,53.0,...,4.0,118200.0,0.0,0.0,60.0,558694.6,0.0,0.0,107.0,4970814.6
44,宮崎県,48,2158730.0,4.0,204940.0,0.0,0.0,1.0,16000.0,35.0,...,3.0,76700.0,0.0,0.0,36.0,264774.5,0.0,0.0,88.0,2628444.5
45,鹿児島県,35,195808.0,30.0,1307600.0,1.0,1780000.0,18.0,225470.0,143.0,...,2.0,72700.0,0.0,0.0,164.0,877953.0,0.0,0.0,230.0,4161361.0
46,沖縄県,0,0.0,26.0,2470080.0,0.0,0.0,13.0,18130.0,1.0,...,0.0,0.0,0.0,0.0,14.0,30130.0,0.0,0.0,40.0,2500210.0

In [10]:
col_data = pd.read_excel('data/1-2-2020.xlsx',skiprows=1,header=None)
col_data=col_data.head(3)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,NaN,NaN,NaN,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [11]:
col_data.iloc[1,1:].fillna(col_data.iloc[0,1:],inplace=True)
col_data.iloc[1,1:]=col_data.iloc[1,1:].str.replace('発電所','')
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,NaN,火力発電所,NaN,原子力発電所,NaN,新エネルギー等発電所,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,その他,NaN,合計,NaN
1,NaN,水力,NaN,火力,NaN,原子力,NaN,風力,NaN,太陽光,...,〔バイオマス〕,NaN,〔廃棄物〕,NaN,計,NaN,その他,NaN,合計,NaN
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [12]:
for i in col_data.columns:
  if i < col_data.columns.max():
    col_data[i + 1].fillna(col_data[i], inplace=True)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,水力発電所,火力発電所,火力発電所,原子力発電所,原子力発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,...,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,その他,その他,合計,合計
1,NaN,水力,水力,火力,火力,原子力,原子力,風力,風力,太陽光,...,〔バイオマス〕,〔バイオマス〕,〔廃棄物〕,〔廃棄物〕,計,計,その他,その他,合計,合計
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [13]:
col_data.replace('〔バイオマス〕','バイオマス',inplace=True)
col_data.replace('〔廃棄物〕','廃棄物',inplace=True)
col_data

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,都道府県,水力発電所,水力発電所,火力発電所,火力発電所,原子力発電所,原子力発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,...,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,新エネルギー等発電所,その他,その他,合計,合計
1,NaN,水力,水力,火力,火力,原子力,原子力,風力,風力,太陽光,...,バイオマス,バイオマス,廃棄物,廃棄物,計,計,その他,その他,合計,合計
2,NaN,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,...,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計,発電所数,最大出力計

In [14]:
tg_col='_'.join(list(col_data[0].dropna()))
print(tg_col)
tg_col = '_'.join(list(col_data[1].dropna()))
print(tg_col)

都道府県
水力発電所_水力_発電所数

In [15]:
cols=[]
for i in col_data.columns:
  tg_col = '_'.join(list(col_data[i].dropna()))
  cols.append(tg_col)
cols

['都道府県',
 '水力発電所_水力_発電所数',
 '水力発電所_水力_最大出力計',
 '火力発電所_火力_発電所数',
 '火力発電所_火力_最大出力計',
 '原子力発電所_原子力_発電所数',
 '原子力発電所_原子力_最大出力計',
 '新エネルギー等発電所_風力_発電所数',
 '新エネルギー等発電所_風力_最大出力計',
 '新エネルギー等発電所_太陽光_発電所数',
 '新エネルギー等発電所_太陽光_最大出力計',
 '新エネルギー等発電所_地熱_発電所数',
 '新エネルギー等発電所_地熱_最大出力計',
 '新エネルギー等発電所_バイオマス_発電所数',
 '新エネルギー等発電所_バイオマス_最大出力計',
 '新エネルギー等発電所_廃棄物_発電所数',
 '新エネルギー等発電所_廃棄物_最大出力計',
 '新エネルギー等発電所_計_発電所数',
 '新エネルギー等発電所_計_最大出力計',
 'その他_その他_発電所数',
 'その他_その他_最大出力計',
 '合計_合計_発電所数',
 '合計_合計_最大出力計']

In [17]:
data.columns=cols
data.head()

,都道府県,水力発電所_水力_発電所数,水力発電所_水力_最大出力計,火力発電所_火力_発電所数,火力発電所_火力_最大出力計,原子力発電所_原子力_発電所数,原子力発電所_原子力_最大出力計,新エネルギー等発電所_風力_発電所数,新エネルギー等発電所_風力_最大出力計,新エネルギー等発電所_太陽光_発電所数,...,新エネルギー等発電所_バイオマス_発電所数,新エネルギー等発電所_バイオマス_最大出力計,新エネルギー等発電所_廃棄物_発電所数,新エネルギー等発電所_廃棄物_最大出力計,新エネルギー等発電所_計_発電所数,新エネルギー等発電所_計_最大出力計,その他_その他_発電所数,その他_その他_最大出力計,合計_合計_発電所数,合計_合計_最大出力計
0,北海道,98,2032077.6,32.0,6176880.0,1.0,2070000.0,56.0,428134.0,127.0,...,3.0,96650.0,3.0,49920.0,184.0,1128885.1,0.0,0.0,315.0,11407842.7
1,青森県,19,128750.0,10.0,655750.0,1.0,1100000.0,24.0,593870.0,35.0,...,4.0,134850.0,1.0,18800.0,59.0,993867.0,0.0,0.0,89.0,2878367.0
2,岩手県,40,274661.0,3.0,238000.0,0.0,0.0,5.0,109180.0,27.0,...,2.0,89000.0,0.0,0.0,34.0,451113.4,0.0,0.0,77.0,963774.4
3,宮城県,22,63915.0,10.0,2211050.0,1.0,1650000.0,1.0,20400.0,75.0,...,0.0,12900.0,4.0,35850.0,76.0,454812.0,0.0,0.0,109.0,4379777.0
4,秋田県,42,287863.0,4.0,2497550.0,0.0,0.0,24.0,422518.6,24.0,...,1.0,20500.0,0.0,15000.0,51.0,627939.2,0.0,0.0,97.0,3413352.2

## ノック３：ヘッダ用のテキストファイルを読み込もう

## ノック４：ヘッダ行を追加しよう

## ノック５：統計量や欠損値を確認しよう

## ノック６：データの追加（繰り返し・読込・抽出・結合）

## ノック７：マスタを読み込んで項目を横に繋げよう

## ノック８：テキストの連結や分割をしよう

## ノック９：日付を加工しよう

## ノック１０：年度を設定しよう

## ノック１１：加工したデータをファイルに出力しよう

## ノック１２：不要な項目の削除と並べ替えをしよう

## ノック１３：まとまった単位で集計しよう

## ノック１４：市区町村別の法人数を可視化しよう

## ノック１５：グラフの縦横と表示順を変えてみよう

## ノック１６：グラフのタイトルとラベルを設定しよう

## ノック１７：グラフの見た目をもっと変えてみよう

## ノック１８：９０日以内に新規登録された法人数を可視化してみよう

## ノック１９：年度別の推移を可視化しよう

## ノック２０：データとグラフを出力しよう