<a href="https://colab.research.google.com/github/kaz-taka-1/2-02_tag/blob/main/3%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os 
project = '100knock-process-visualization'
chapter = 3
os.chdir(f'/content/drive/MyDrive/{project}/chapter-{chapter}/')

# ３章 時系列データの加工・可視化１０本ノック

## ノック４１：時系列データを読み込んでみよう

In [3]:
from glob import glob
files = glob('data/person_count_1sec/out_0001/*.csv')
files.sort()
files[:5]

['data/person_count_1sec/out_0001/person_count_out_0001_2021011509.csv',
 'data/person_count_1sec/out_0001/person_count_out_0001_2021011510.csv',
 'data/person_count_1sec/out_0001/person_count_out_0001_2021011511.csv',
 'data/person_count_1sec/out_0001/person_count_out_0001_2021011512.csv',
 'data/person_count_1sec/out_0001/person_count_out_0001_2021011513.csv']

In [4]:
import pandas as pd
data = pd.read_csv(files[0])
display(data.head(5))
print(data.dtypes)

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0

id               int64
place            int64
receive_time    object
sensor_num       int64
in1              int64
out1             int64
state1           int64
in2              int64
out2             int64
state2           int64
dtype: object

In [5]:
data['receive_time'] = pd.to_datetime(data['receive_time'])
display(data.head())
print(data.dtypes)

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0

id                       int64
place                    int64
receive_time    datetime64[ns]
sensor_num               int64
in1                      int64
out1                     int64
state1                   int64
in2                      int64
out2                     int64
state2                   int64
dtype: object

In [6]:
data = pd.read_csv(files[0],parse_dates=["receive_time"])
display(data.head())
print(data.dtypes)

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0

id                       int64
place                    int64
receive_time    datetime64[ns]
sensor_num               int64
in1                      int64
out1                     int64
state1                   int64
in2                      int64
out2                     int64
state2                   int64
dtype: object

In [7]:
data=[]
for f in files:
  tmp=pd.read_csv(f,parse_dates=["receive_time"])
  data.append(tmp)
data=pd.concat(data,ignore_index=True)
display(data.head())
len(data)

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0

2346162

## ノック４２：日付の範囲を確認しよう

In [9]:
min_receive_time=data['receive_time'].min()
max_receive_time=data['receive_time'].max()
print(min_receive_time)
print(max_receive_time)

2021-01-15 09:00:00.144000
2021-02-14 17:59:59.956000

In [10]:
print(data['receive_time'].max()-data['receive_time'].min())

30 days 08:59:59.812000

## ノック４３：日毎のデータ件数を確認しよう

## ノック４４：日付から曜日を算出しよう

## ノック４５：特定範囲のデータに絞り込もう

## ノック４６：秒単位のデータを作成しよう

## ノック４７：秒単位のデータを整形しよう

## ノック４８：秒間の欠損データを処理しよう

## ノック４９：通った人数を可視化しよう

## ノック５０：移動平均を計算して可視化しよう