<a href="https://colab.research.google.com/github/kaz-taka-1/2-02_tag/blob/main/8%E7%AB%A0_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os 
project = '100knock-process-visualization'
chapter = 8
os.chdir(f'/content/drive/MyDrive/{project}/chapter-{chapter}/')

# chapter 8 特殊なデータ加工・可視化10ノック

## ノック91: 大容量CSVデータを扱ってみよう

In [ ]:
import pandas as pd
df = pd.read_csv('data/person_count_out_0001_2021011509.csv')
df

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0
...,...,...,...,...,...,...,...,...,...,...
3535,3535,1,2021-01-15 09:59:55.054,2,782,156,0,156,782,0
3536,3536,1,2021-01-15 09:59:56.07,2,782,156,0,156,782,0
3537,3537,1,2021-01-15 09:59:57.085,2,782,156,0,156,782,0
3538,3538,1,2021-01-15 09:59:58.101,2,782,156,0,156,782,0
3539,3539,1,2021-01-15 09:59:59.116,2,782,156,0,156,782,0

In [ ]:
for df in pd.read_csv('data/person_count_out_0001_2021011509.csv', chunksize=512):
  print(df.shape)

(512, 10)
(512, 10)
(512, 10)
(512, 10)
(512, 10)
(512, 10)
(468, 10)

In [ ]:
i = 0
for df in pd.read_csv('data/person_count_out_0001_2021011509.csv', chunksize=64):
  df['processd_per_chunk'] = True
  df.to_csv('data/processed_big_data.csv', mode='a', index=False, header=i == 0)
  i += 1

In [ ]:
df = pd.read_csv('data/processed_big_data.csv')
df

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2,processd_per_chunk
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0,True
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0,True
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0,True
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0,True
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0,True
...,...,...,...,...,...,...,...,...,...,...,...
21240,3535,1,2021-01-15 09:59:55.054,2,782,156,0,156,782,0,True
21241,3536,1,2021-01-15 09:59:56.07,2,782,156,0,156,782,0,True
21242,3537,1,2021-01-15 09:59:57.085,2,782,156,0,156,782,0,True
21243,3538,1,2021-01-15 09:59:58.101,2,782,156,0,156,782,0,True
21244,3539,1,2021-01-15 09:59:59.116,2,782,156,0,156,782,0,True

## ノック92: Json形式のファイルを扱ってみよう

In [ ]:
pd.read_json('data/column_oriented.json')

   id  value
0   1      1
1   2     10
2   3    100

In [ ]:
!cat data/column_oriented.json

{"id":{"0":1,"1":2,"2":3},"value":{"0":1,"1":10,"2":100}}

In [ ]:
!cat data/index_oriented.json

{"0":{"id":1,"value":1},"1":{"id":2,"value":10},"2":{"id":3,"value":100}}

In [ ]:
pd.read_json('data/index_oriented.json')

       0   1    2
id     1   2    3
value  1  10  100

In [ ]:
pd.read_json('data/index_oriented.json', orient='index')

   id  value
0   1      1
1   2     10
2   3    100

In [ ]:
!cat data/table_oriented.json

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"id","type":"integer"},{"name":"value","type":"integer"}],"primaryKey":["index"],"pandas_version":"0.20.0"},"data":[{"index":0,"id":1,"value":1},{"index":1,"id":2,"value":10},{"index":2,"id":3,"value":100}]}

In [ ]:
pd.read_json('data/table_oriented.json')

ValueError: ignored

In [ ]:
pd.read_json('data/table_oriented.json', orient='table')

## ノック93: *Webからデータを取得してみよう*

In [ ]:
import requests
response = requests.get('https://worldtimeapi.org/api/timezone/Asia/Tokyo')
response.content

In [ ]:
result = response.json()
result

In [ ]:
pd.Series(result)

In [ ]:
import json

with open('data/response.json', mode='w') as f:
  json.dump(result, f)

In [ ]:
import time

for _ in range(4):
  response = requests.get('https://worldtimeapi.org/api/timezone/Asia/Tokyo')
  with open('data/responses.txt', mode='a') as f:
    res = response.json()
    f.write(f'{json.dumps(res)}\n')
  time.sleep(1)

In [ ]:
!cat data/responses.txt

## ノック94: configファイルを扱ってみよう

In [ ]:
!cat config.yml

dataset:
  name: pseudo
  path: data/images_by_py/
use_gpu: true

In [ ]:
import yaml
with open('config.yml', mode='r') as f:
  config = yaml.load(f)
config

TypeError: ignored

In [ ]:
!cat config.toml

In [ ]:
import toml
with open('config.toml', mode='r') as f:
  config = toml.load(f)
config

## ノック95 : 動画ファイルを音声ファイルへ変換してみよう

In [ ]:
from moviepy.editor import VideoFileClip

video_clip = VideoFileClip('data/sample_video.mp4')
video_clip.audio.write_audiofile('data/audio_by_py.mp3')

In [ ]:
!ffmpeg -i data/sample_video.mp4 -y -hide_banner -loglevel error data/audio_by_ffmpeg.mp3

In [ ]:
!ls data/*.mp3

##ノック96 : 動画ファイルを画像ファイルへ分割してみよう

In [ ]:
import cv2 
from tqdm import trange
import os

cap = cv2.VideoCapture('data/sample_video.mp4')
img_dir = 'data/images_by_py/'
os.makedirs(img_dir, exist_ok=1)
n = int(cap.get(cv2.CAP_PROP_FRAME_COUNT))

for i in trange(n):
  success, img = cap.read()
  if not success:
    continue
  cv2.imwrite(f'{img_dir}/{i:04}.png', img)

In [ ]:
ls data/images_by_py

In [ ]:
!mkdir data/images_by_ffmpeg
!ffmpeg -i data/sample_video.mp4 -y -hide_banner -loglevel error data/images_by_ffmpeg/%04d.png

In [ ]:
!ls data/images_by_ffmpeg/

##ノック97 : PowerPointやWordファイルを読み込んでみよう

In [ ]:
!pip install python-pptx
!pip install python-docx

In [ ]:
import pptx
pptx_data = pptx.Presentation('data/サンプル_PowerPoint.pptx')
len(pptx_data.slides)

In [ ]:
sld_0 = pptx_data.slides[0]
shp_sld_0 = sld_0.shapes
len(shp_sld_0)

In [ ]:
print(shp_sld_0[0].text)
print(shp_sld_0[0].has_text_frame)

In [ ]:
pptx_data = pptx.Presentation('data/サンプル_PowerPoint.pptx')
texts = []
for slide in pptx_data.slides:
    for shape in slide.shapes:
        if shape.has_text_frame:
          texts.append(shape.text)
print(texts)

In [ ]:
import docx
docx_data = docx.Document('data/サンプル_Word.docx')
len(docx_data.paragraphs)

In [ ]:
docx_data.paragraphs[0].text

In [ ]:
texts = []
for paragraph in docx_data.paragraphs:
  texts.append(paragraph.text)
print(texts)

##ノック98 : PDFデータを読み込んでみよう

In [ ]:
!pip install pdfminer.six

In [ ]:
from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter 
from pdfminer.converter import TextConverter      
from pdfminer.pdfpage import PDFPage              
from pdfminer.layout import LAParams

In [ ]:
pdf_data = open('data/サンプル_PDF.pdf', 'rb')
txt_file = 'data/サンプル_PDF.txt'
out_data = open(txt_file, mode='w')

rscmgr = PDFResourceManager()
laprms = LAParams()
device = TextConverter(rscmgr, out_data, laparams=laprms)
itprtr = PDFPageInterpreter(rscmgr, device)

for page in PDFPage.get_pages(pdf_data):
    itprtr.process_page(page)

out_data.close()
device.close()
pdf_data.close()

In [ ]:
with open('data/サンプル_PDF.txt', mode='r') as f:
  content = f.read()
print(content)

## ノック99 : インタラクティブなグラフを作成してみよう

In [ ]:
import pandas as pd
df = pd.read_csv('data/person_count_out_0001_2021011509.csv')
df.head()

In [ ]:
import plotly.express as px
fig = px.line(x=df['receive_time'], y=df['in1'])
fig.show()

In [ ]:
df_v = pd.melt(df[['receive_time','in1','out1']], id_vars=['receive_time'], var_name="変数名",value_name="値")
df_v.head()

In [ ]:
fig = px.line(df_v, x='receive_time', y='値', color='変数名')
fig.show()

## ノック100: 3次元グラフを作成してみよう

In [ ]:
import seaborn as sns
df_iris = sns.load_dataset('iris')
df_iris.head()

In [ ]:
fig = px.scatter(df_iris, x='sepal_length', y='sepal_width', color='species')
fig.show()

In [ ]:
fig = px.scatter_3d(df_iris, x='sepal_length', y='sepal_width', z='petal_width',color='species')
fig.show()