<a href="https://colab.research.google.com/github/kaz-taka-1/2-02_tag/blob/main/8%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 下記セルを実行すると、authorization codeの入力を求められます。
# 出力されたリンク先をクリックし、Googleアカウントにログインし、
# authorization codeをコピーし、貼り付けをおこなってください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os 
project = '100knock-process-visualization'
chapter = 8
os.chdir(f'/content/drive/MyDrive/{project}/chapter-{chapter}/')

# chapter 8 特殊なデータ加工・可視化10ノック

## ノック91: 大容量CSVデータを扱ってみよう

In [9]:
import pandas as pd
df =pd.read_csv('data/person_count_out_0001_2021011509.csv')
df

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0
...,...,...,...,...,...,...,...,...,...,...
3535,3535,1,2021-01-15 09:59:55.054,2,782,156,0,156,782,0
3536,3536,1,2021-01-15 09:59:56.07,2,782,156,0,156,782,0
3537,3537,1,2021-01-15 09:59:57.085,2,782,156,0,156,782,0
3538,3538,1,2021-01-15 09:59:58.101,2,782,156,0,156,782,0
3539,3539,1,2021-01-15 09:59:59.116,2,782,156,0,156,782,0

In [11]:
for df in pd.read_csv('data/person_count_out_0001_2021011509.csv',chunksize=512):
  print(df.shape)

(512, 10)
(512, 10)
(512, 10)
(512, 10)
(512, 10)
(512, 10)
(468, 10)

In [13]:
i=0
for df in pd.read_csv('data/person_count_out_0001_2021011509.csv',chunksize=64):
  df['processd_per_chunk']=True
  df.to_csv('data/processed_big_data.csv',mode='a',index=False,header=i==0)
  i+=1

In [14]:
df =pd.read_csv('data/person_count_out_0001_2021011509.csv')
df

,id,place,receive_time,sensor_num,in1,out1,state1,in2,out2,state2
0,0,1,2021-01-15 09:00:00.144,2,508,73,0,73,508,0
1,1,1,2021-01-15 09:00:01.146,2,508,73,0,73,508,0
2,2,1,2021-01-15 09:00:02.161,2,508,73,0,73,508,0
3,3,1,2021-01-15 09:00:03.176,2,508,73,0,73,508,0
4,4,1,2021-01-15 09:00:04.192,2,508,73,0,73,508,0
...,...,...,...,...,...,...,...,...,...,...
3535,3535,1,2021-01-15 09:59:55.054,2,782,156,0,156,782,0
3536,3536,1,2021-01-15 09:59:56.07,2,782,156,0,156,782,0
3537,3537,1,2021-01-15 09:59:57.085,2,782,156,0,156,782,0
3538,3538,1,2021-01-15 09:59:58.101,2,782,156,0,156,782,0
3539,3539,1,2021-01-15 09:59:59.116,2,782,156,0,156,782,0

## ノック92: Json形式のファイルを扱ってみよう

## ノック93: *Webからデータを取得してみよう*

## ノック94: configファイルを扱ってみよう

## ノック95 : 動画ファイルを音声ファイルへ変換してみよう

##ノック96 : 動画ファイルを画像ファイルへ分割してみよう

##ノック97 : PowerPointやWordファイルを読み込んでみよう

##ノック98 : PDFデータを読み込んでみよう

## ノック99 : インタラクティブなグラフを作成してみよう

## ノック100: 3次元グラフを作成してみよう